<div class="container pt-2">
  <div class="header">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add New</button>
    <button type="button" *ngIf="hideBtn" (click)="showSearch()" class="btn btn-secondary">search</button>
    <div class="searchForm "  *ngIf="search">
      <input type="text" class="input-group-text" 
      [(ngModel)]="searchTxt"
       placeholder="Type to search...">
      <button class="btn btn-primary" (click)="applyFilter()">search</button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">UserId</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredArray let i = index">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.title }}</td>
        <td>{{ item.userId }}</td>
        <td>{{ item.body }}</td>
        <button type="button" class="btn btn-outline-danger" (click)="deleteRow(i)">delete</button>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Row</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" autocomplete="off">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Enter ID:</label>
            <input type="text" class="form-control" formControlName="id" id="id">
            <span class="text-danger" *ngIf="form.controls['id'].invalid && (form.controls['id'].dirty || form.controls['id'].touched)">Info is not Valid</span>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Enter Title:</label>
            <input type="text" class="form-control" formControlName="title" id="title">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Enter Body:</label>
            <input type="text" class="form-control" formControlName="body" id="body">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="addRow()" [disabled]="!form.valid" data-bs-dismiss="modal" class="btn btn-primary">Save Row</button>
      </div>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="loading">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>